@import url("header.css");
@import url("sidebar.css");
@import url("content.css");
@import url("footer.css");
@import url("blogpost.css");
@import url("menu.css");

body {
  margin: 0px;
  padding: 0px;
}

/*Initially each element has its own row for small screens*/
.container {
  display: grid;
  width: 100%;
  /*height: 80vh;*/
  grid-template-columns: 600px;
  grid-template-rows: 100px 300px 420px;
  /*Initially each element has its own row for small screens*/
  grid-template-areas: "hd""sd""main""ft";
}

/*Medium Screens*/
@media (min-width:600px)and (max-width:1100px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
    /*setup as Rows and Columns */
    grid-template-columns: 60px repeat(7, 1fr);
    grid-template-rows: 150px 500px 1fr;
    grid-gap: 5px;
    grid-template-areas: "hd hd hd hd hd hd hd .""sd sd main main main main main.""ft ft ft ft ft ft ft .";
  }
}

/* Large Screens */
@media (min-width:1101px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
    /*setup as Rows and Columns */
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: 150px 500px 1fr;
    grid-gap: 3px;
    grid-template-areas: "hd hd hd hd hd hd hd .""sd sd main main main main main . ""ft ft ft ft ft ft ft .";
  }
}
