/*Navigation Menus*/
#nav-container {
  width: 1200px;
  margin: 0 auto;

}

.nav-bar {
  overflow: hidden;
  height: 70px;
  width: 100%;
}

.nav-bar ul {
  padding: 12px 16px;
  margin-left: 30px;
  float: right;
  display: inline-block;
}

.m-items {
  list-style-type: none;
  padding: 20px;
  height: 1px;
  margin-top: 14px;
  margin-bottom: 4px;
  display: inline;
}

.m-items:hover {
   color: #ef8172;
   cursor: pointer;
}
